html {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    user-select: none;
    overflow: hidden;
}

* {
    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    outline: none;
}
    